//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "";
//</Шрифт по умолчанию>==========================================================================================
@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl300.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl300.woff') format('woff'), url('../fonts/MuseoSansCyrl300.ttf') format('truetype'), url('../fonts/MuseoSansCyrl300.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl700.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl700.woff') format('woff'), url('../fonts/MuseoSansCyrl700.ttf') format('truetype'), url('../fonts/MuseoSansCyrl700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1210;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	@include flexbox();
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	// position: relative;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
// @import "popup.scss";
@import "header.scss";
@import "footer.scss";
// @import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

.main-screen {

	min-height: 100vh;
	@include flexbox();
	flex-direction: column;
	justify-content: center;
	padding: 130px 0px 0px 0px;
	@media (max-width:$md3+px){
		padding: 100px 0px 0px 0px; 
	}

	// .main-screen__image

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	// .main-screen__body

	&__body {
		position: relative;
		height: 350px;
		max-width: 1210px;
		margin: 0 auto;
		width: 100%;
		font-size: 16px;
		@media (max-width:$md1+px){
			max-width: 950px; 
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		@media (max-width:$md4+px){
			font-size: 10px; 
		}
	}

	// .main-screen__tittle

	&__tittle {
		position: absolute;
		width: 7.6em;
		height: 1.5em;
		top: 12%;
		left: 0;
		z-index: 2;
		padding-top: 10px;
		background-image: linear-gradient(-90.0deg, #ff3f04 0%, #ffffff 90%, #ffffff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Museo Sans Cyrl';
		font-size: 3.6em;
		line-height: 0.5em;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		span{
			font-size: 0.4em;
			font-weight: 300;
			text-transform: none;
		}
		@media (max-width:$md1+px){
			 position: static; 
			 margin: 0px 0px 0.6em 0px;
		}
	}

	// .main-screen__button-body 

	&__button-body {
		position: relative;
		position: absolute;
		width: 581px;
		height: 85px;
		top: 50%;
		left: 0;
		@media (max-width:$md1+px){
			 position: static;
			 width: 180px;
			 height: 35px; 
			 margin: 0px 0px 30px 0px;
		}
	}

	// .main-screen__button

	&__button {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 180px;
		height: 35px;
		border-style: solid;
		border-width: 1px;
		border-image-source: linear-gradient(189.0deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
		border-image-slice: 1;
		background-origin: border-box;
		background-clip: content-box, border-box;
		padding: 0 20px 0 20px;
		@media (max-width:$md1+px){
			 position: relative; 
		}
		
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			bottom: -10px;
			left: -10px;
			z-index: 3;
			width: 25px;
			height: 25px;
			background: url('../../img/icons/corner-left.png') center no-repeat;
		}
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: -10px;
			right: -10px;
			z-index: 3;
			width: 25px;
			height: 25px;
			background: url('../../img/icons/corner-right.png') center no-repeat;
		}

		span {
			font-family: 'Museo Sans Cyrl';
			font-size: 14px;
			line-height: 2.4;
			font-weight: 100;
			color: #ffffff;
			transition: all 0.5s ease;
		}

		&:hover {
			span {
				color: #e38520;
			}
		}
	}

	// .main-screen__line

	&__line {
		position: absolute;
		width: 406px;
		height: 57px;
		top: 58.5%;
		left: 34.5%;
		z-index: 2;
		background: url('../../img/icons/line-button.png') 0 0 no-repeat;
		@media (max-width:$md1+px){
			 display: none; 
		}
	}

	// .main-screen__advantages

	&__advantages {
		position: absolute;
		top: 50%;
		right: 0;
		@include tr(0, -50%, 0);
		
		@media (max-width:$md1+px){
			 position: static; 
			 @include tr(0, 0, 0);
		}
	}
}

.advantages-main-screen {

	display: flex;
	flex-wrap: wrap;
	max-width: 23.1em;
	max-height: 370px;
	font-size: 16px;
	@media (max-width:$md1+px){
		max-width: 100%;
	}
	@media (max-width:$md3+px){
		max-width: 23.5em;
	}
	@media (max-width:$md4+px){
		font-size: 12px; 
		
	}

	// .advantages-main-screen__item

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 10.75em;
		height: 10.75em;
		margin: 0px 10px 10px 0px;
	
	
	}

	// .advantages-main-screen__item--min45deg

	&__item--min45deg {
		background: linear-gradient(-45deg, rgba(255,255,255,0.03) 0%,rgba(255,255,255,0) 100%);
		&:hover {
			background: linear-gradient(-45deg, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 100%);
		}
	}

	// .advantages-main-screen__item--45deg

	&__item--45deg {
		background: linear-gradient(45deg, rgba(255,255,255,0.03) 0%,rgba(255,255,255,0) 100%);
		&:hover {
			background: linear-gradient(45deg, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 100%);
		}
	}

	// .advantages-main-screen__item--225deg

	&__item--225deg {
		background: linear-gradient(255deg, rgba(255,255,255,0.03) 0%,rgba(255,255,255,0) 100%);
		&:hover {
			background: linear-gradient(225deg, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 100%);
		}
	}

	// .advantages-main-screen__item--min225deg

	&__item--min225deg {
		background: linear-gradient(-225deg, rgba(255,255,255,0.03) 0%,rgba(255,255,255,0) 100%);
		&:hover {
			background: linear-gradient(-225deg, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 100%);
		}
	}

	// .advantages-main-screen__text

	&__text {
		
		font-family: 'Museo Sans Cyrl';
		line-height: 1.2;
		font-weight: 100;
		color: #ffffff;
		text-align: center;
	}

	// .advantages-main-screen__text--bold

	&__text--bold {
		display: inline-block;
		margin: 15px 0px 0px 0px;
		font-size: 3.75em;
		font-weight: 700;
	}

	// .advantages-main-screen__text--fzmore

	&__text--fzmore {
		font-size: 1.125em;
	}
}



//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
